<div  class="survey-wrap">
    <h1  class="text-center red">
      Apology for any Inconvenience.</h1>
    <div  class="row">
      <div  class="col-lg-7 unsub-box">
        <h2 >Please take a moment to tell us why you no longer wish to hear from us:</h2>
        <form  name="form" novalidate="" class="ng-untouched ng-pristine ng-invalid">
          <input  [(ngModel)]="comment" id="1" name="comment" type="radio" value="I am not comfortable with RFPGurus services" class="ng-untouched ng-pristine ng-invalid">
          <label  for="1">I am not comfortable with RFPGurus services</label>
          <br >
          <input  [(ngModel)]="comment" id="2" name="comment" type="radio" value="I receive too many email from RFPGurus" class="ng-untouched ng-pristine ng-invalid">
          <label  for="2">I receive too many email from RFPGurus</label>
          <br >
          <input  [(ngModel)]="comment" id="3" name="comment" type="radio" value="I am having difficulty receiving or viewing from RFPGurus" class="ng-untouched ng-pristine ng-invalid">
          <label  for="3">I am having difficulty receiving or viewing from RFPGurus</label>
          <br >
          <input  [(ngModel)]="comment" id="4" name="comment" type="radio" value="I don't think the content is relevant" class="ng-untouched ng-pristine ng-invalid">
          <label  for="4">I don't think the content is relevant</label>
          <br >
          <input [(ngModel)]="comment" id="5" name="comment" type="radio" value="I signed up during a promotion and I am no longer intrested in RFPGurus" class="ng-untouched ng-pristine ng-invalid">
          <label  for="5">I signed up during a promotion and I am no longer intrested in RFPGurus</label>
          <br >
          
          <button  class="btn unsub-submit" type="submit" (click)="fun()" >Submit</button>
        </form>
      </div>
    </div>
  </div>