<div class="sidebar-holder side-bar-component" id="side">
    <div class="sidebar-admin">
        
        <div class="user-sidebar">
                <!-- <div class="sidebar-dashboard-title">
                        My RFPGurus
                </div> -->
            <ul>
                <li><a routerLink="/preferences" routerLinkActive="active-route">
                        <i class="fa fa-newspaper-o"></i>RFP Preferences</a>
                </li>

                <li><a routerLink="/notifications" routerLinkActive="active-route">
                        <i class="fa fa-bell"></i>Bid Notifications</a>
                </li>

                <li><a routerLink="/my-watchlist" routerLinkActive="active-route">
                        <i class="fa fa-heart"></i>My Watch List</a>
                </li>

                <li><a routerLink="/profile" routerLinkActive="active-route">
                        <i class="fa fa-user-circle"></i>Profile</a>
                </li>
                <li><a routerLink="/purchase-history" routerLinkActive="active-route">
                        <i class="fa fa-history"></i>Subscription</a>
                </li>

                <li><a routerLink="/payment" routerLinkActive="active-route">
                        <i class="fa fa-money"></i>Payment Methods</a>
                </li>

                <li><a routerLink="/support" routerLinkActive="active-route">
                        <i class="fa fa-comment"></i>Support Center</a>
                </li>
                <li><a routerLink="/change-password" routerLinkActive="active-route">
                        <i class="fa fa-key"></i>Change Password</a>
                </li>
                <li> <a routerLink="/contact-us">
                        <i class="fa fa-comment"></i>
                        Contact Us</a>
                </li>
                <li><a (click)="logout()">
                        <i class="fa fa-sign-out"></i>Sign Out</a>
                </li>
            </ul>
        </div>
    </div>
</div>