.sidebar-holder {
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1
}
.sidebar-admin {
  padding: 0;
  min-height: 100%;
  color: #fff
}
.user-sidebar{
  padding: 85px 0 0;
}

.side-bar-component .user-sidebar ul li {
  list-style: none;
  padding: 0;
  margin: 0
}

.side-bar-component .user-sidebar ul li a {
  color: #555;
  font-size: 16px!important;
  padding: 12px 0;
  display: block;
  font-weight: 600;
  outline: 0!important;
  transition: none;
}

.side-bar-component .user-sidebar ul li a i {
  padding-left: 20px;
  padding-right: 5px;
  font-size: 20px;
}

.side-bar-component .user-sidebar ul li a:hover {
  background-color: #f5f5f5;
  text-decoration: none;
}
.active-route {
  background-color: #f5f5f5 !important;
  color: #555 !important;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc; 
  text-decoration: none;
}


/* ................... */
.sidebar-dashboard-title {
  text-align: center;
  font-size: 30px;
  color: #555;
  font-weight: 500;
}