<!-- <app-header></app-header> -->
<section id="what-is-rfp">
  <div class="container">
    <div class="row">
      <div class="col-sm-6" style="font-weight:700;">
        <h2>What is RFPGurus?</h2>
        <p><strong>Hundreds of Thousands RFPs:</strong> RFPGurus is the most comprehensive source of Government RFPs, RFIs and RFQs making Searching, Matching and Bidding on Government Contracts a breeze.</p>
        <p>The Industry's most comprehensive Feature Set - One Platform: RFPGurus propels the business workforce in bidding and contract opportunities to a whole new level.</p>
        <p>With its proprietary Machine Learning (ML) engine, RFPGurus provides a next generation Artificially Intelligent Platform to connect Vendors with Nationwide Federal, State, County, City & Local RFPs, RFIs and RFQs.</p>
        <p>Unbeatable Pricing. One-Package-Includes-All. Every Features/RFP Included Nationwide. No Gimmicks. No Hidden Fees. Next generation Web, iOS & Android Mobile Apps.</p>
        <p>Whether your business is an experienced operator in Government Contract Bidding OR is seeking to be an aspiring entrant in the Public Sector market, RFPGurus is your essential WINNING Partner in Government RFP Bidding.</p>
      </div>
      <div class="col-sm-6 ">
        <img class="w-i-rfpgurus-img" src="../../assets/img/brainplow_who_we_Are.jpg" alt="What is RFPGurus" />
      </div>
    </div>
  </div>
</section>
<!-- <app-footer-cmp></app-footer-cmp> -->
