.card{
  max-width: 400px;
  margin: 30px auto;

}

.card [data-background-color] {
    font-size: 24px;
    font-weight: 600;
}
.ch-pas-update {
  width: 50%;
  font-size: 20px!important
}
@media (max-width:991px) {

  .tab-dp-center {
      margin: 0 auto;
      float: none
  }
}