<!-- <app-loader></app-loader> -->
<div class="row margin-0">
    <div class="col-lg-offset-2 col-md-offset-3 col-lg-10 col-md-9 col-sm-12 col-xs-12 center-admin-form" id="display_advance">
        <div class="col-md-6 col-sm-8 mg-0-auto tab-dp-center">
            <div class="card">
                <form [formGroup]="register" class="sh-signup-form-fix edit-profile">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="fa fa-lock"></i> Change Password
                    </div>
                    <div class="card-content">
                        <div class="form-group label-floating" [ngClass]="displayFieldCss(register, 'oldpassword')">
                            <mat-form-field>
                                <input matInput type="password" id="oldpassword" formControlName="oldpassword" [type]="hide ? 'password' : 'text'"
                                onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false"
                                    placeholder="Old Password" required>
                                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                <mat-error *ngIf="register.controls.oldpassword.value == ''">
                                    <strong>Old Password cannot be empty</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <br/>
                        <div  class="form-group mt-minus-20 label-floating" [ngClass]="displayFieldCss(register, 'password')">
                            <mat-form-field>
                                <input matInput type="password" id="password" formControlName="password" [type]="hide1 ? 'password' : 'text'"
                                onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false"
                                    placeholder="New Password" required>
                                <mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>

                                <mat-error *ngIf="register.controls.password.value == ''">
                                    <strong>New password cannot be empty</strong>
                                </mat-error>
                                <mat-error *ngIf="(register.controls.password.value == register.controls.oldpassword.value)">
                                    <strong>New password must be different</strong>
                                </mat-error>
                                <mat-error *ngIf="register.controls.password.errors?.minlength">
                                    <strong>  Password must be 8 characters long and must include 1 upper case, 1 lower case, 1 number and 1 special character</strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <br/>
                        <!-- <br/> -->
                        <div  class="mt-15 form-group label-floating" [ngClass]="displayFieldCss(register, 'confirmPassword')">
                            <mat-form-field>
                                <input matInput type="password" id="confirmPassword" formControlName="confirmPassword"
                                onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false"
                                    [type]="hide2 ? 'password' : 'text'" placeholder="Confirm Password" required>
                                <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                                <mat-error *ngIf="(register.controls.confirmPassword.value != register.controls.password.value) || register.controls.confirmPassword.value == ''">
                                    <strong>
                                        Password must match
                                    </strong>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <!-- <br/> -->
                        <!-- <br/> -->
                        <div class="form-footer text-right">
                            <div class="form-group text-center">
                                <button class="btn btn-rose btn-fill btn-wd ch-pas-update"
                                    (click)="changedPassword()" title="Update">Update</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>