<!-- <app-loader></app-loader> -->
<div class="row margin-0 eye-slash" >
    <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 center-admin-form" id="display_advance">
        <div class="card2 mg-0-auto tab-dp-center">
            <div class="card">
                <form [formGroup]="register" class="sh-signup-form-fix edit-profile" #f="ngForm">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="fa fa-key"></i> Change Password
                    </div>
                    <div class="card-content">
                        <div class="form-group label-floating" [ngClass]="displayFieldCss(register, 'oldpassword')">
                            <mat-form-field>
                                <input matInput type="password" id="oldpassword" formControlName="oldpassword" [(ngModel)]="oldpassword" [type]="hide ? 'password' : 'text'"
                                onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false" (change)="onChange($event)"
                                    placeholder="Old Password" required>
                                    <i  matSuffix (click)="hide1 = !hide1" class=" {{!hide1 ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
                                    <!-- <i matSuffix (click)="hide = !hide" class=" {{hide ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i> -->
                                    <mat-error *ngIf="register.controls.oldpassword.touched && register.controls.oldpassword.invalid">
                                <mat-error *ngIf="register.controls.oldpassword.value == ''">
                                    <strong>Old Password cannot be empty</strong>
                                </mat-error></mat-error>
                            </mat-form-field>
                        </div>
                        <div class="form-group mt-minus-20 label-floating mt-15" [ngClass]="displayFieldCss(register, 'password')">
                            <mat-form-field>
                                <input matInput type="password" id="password"  (change)="onChange($event); onChange2($event)" formControlName="password" [type]="hide2 ? 'password' : 'text'"
                              [(ngModel)]="password" onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false"
                                    placeholder="New Password" required>
                                    <i matSuffix (click)="hide2 = !hide2" class=" {{!hide2 ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
                                <mat-error *ngIf="register.controls.password.touched && register.controls.password.invalid">
                                <mat-error *ngIf="register.controls.password.value == ''">
                                    <strong>New password cannot be empty</strong>
                                </mat-error>
                                <mat-error *ngIf="register.controls.password.hasError('pattern')">
                                    <strong>  Password must be 8 characters long and must include 1 upper case, 1 lower case, 1 number and 1 special character</strong>
                                </mat-error></mat-error>
                            </mat-form-field>
                            <p class="clr_red" *ngIf="isInvalid && password!='' && !register.controls.password.hasError('pattern')">Old password and new password cannot be same</p> 
                        </div>
                        <div  class="mt-15 form-group label-floating" [ngClass]="displayFieldCss(register, 'confirmPassword')">
                            <mat-form-field class="zip-address">
                                <input matInput type="password" id="confirmPassword" (change)="onChange2($event)" formControlName="confirmPassword"
                                onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false"
                                    [type]="hide3 ? 'password' : 'text'" placeholder="Confirm Password" required>
                                    <i matSuffix (click)="hide3 = !hide3" class=" {{!hide3 ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
                                <mat-error *ngIf="register.controls.confirmPassword.touched && register.controls.confirmPassword.invalid">
                                <mat-error *ngIf="register.controls.confirmPassword.value == ''">
                                    <strong>password cannot be empty</strong>
                                </mat-error></mat-error>
                                <!-- <mat-error *ngIf="(register.controls.confirmPassword.value != register.controls.password.value)">
                                    <strong>
                                        Password must match
                                    </strong>
                                </mat-error> -->
                                <mat-error *ngIf="isInvalid2">
                                    Password must match
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="form-footer text-right">
                            <div class="form-group text-center">
                                <button class="btn btn-rose btn-fill btn-wd ch-pas-update"
                                    (click)="changedPassword(f)" title="Update">Update</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>