<!-- <app-loader></app-loader> -->
<div class="container-fluid text-center">
  <div class="card">
    <form [formGroup]="register" class="sh-signup-form-fix">
      <div class="card-header card-header-icon" data-background-color="rose">
        <i class="fa fa-lock" aria-hidden="true"></i>
        <h4 class="card-title">Set a New Password</h4>
      </div>
      <div class="card-content">

        <div class="form-group label-floating" [ngClass]="displayFieldCss(register, 'password')">
          <mat-form-field>
            <input matInput type="password" id="password" formControlName="password" placeholder="Password*"
            onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false"
              [type]="hide ? 'password' : 'text'">
              <i matSuffix (click)="hide = !hide" class=" {{hide ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
            <mat-error *ngIf="register.controls.password.value == ''">
              <strong>Password cannot be empty</strong>
            </mat-error>
            <mat-error *ngIf="register.controls.password.hasError('pattern')">
            <strong>                         
              Password must be 8 characters long and must include 1 upper case, 1 lower case, 1 number and 1 special character
                                      </strong>
                                      </mat-error>
                                </mat-form-field>
                            </div>                    
                            <div  class=" form-group label-floating"
              [ngClass]="displayFieldCss(register, 'confirmPassword')">
              <mat-form-field>
                <input matInput type="password" id="confirmPassword" formControlName="confirmPassword"
                onCopy="return false" onDrag="return false" onDrop="return false" onPaste="return false"
                  placeholder="Confirm Password*" [type]="hide1 ? 'password' : 'text'">
                <mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                <mat-error
                  *ngIf="(register.controls.confirmPassword.value != register.controls.password.value) || register.controls.confirmPassword.value == ''">
                  <strong>Password must match
                  </strong>
                </mat-error>
              </mat-form-field>
        </div>
        <div class="form-footer text-center">

          <button type="submit" class="btn btn-rose btn-fill btn-wd" (click)="onForget()">Update</button>

        </div>
      </div>
    </form>
  </div>
</div>