.plan-detail>h3{max-height:53px;min-height:53px}
.sh-sort .mat-form-field {
    max-width: 160px
}

.sh-sort label {
  font-size: 18px;
  margin: 15px 5px;
}
.sh-sort .mat-option .mat-option-text {
    font-size: 18px!important
}

.sh-sort mat-option {
    font-size: 18px;
    font-weight: 400
}