<!-- <section class="section-half text-center">
    <h1 class="heading-404"><i class="fa fa-ban"></i> Oops</h1>
    <h1 class="not-found">Something went wrong.</h1>
    <h3>We can't find the page
        you're looking for.</h3>
    <p>Visit our <a routerLink="/contact-us" class="clr_blue">Contact Us</a> for any questions.</p><a
        class="footer-logo"> <img src="../../assets/img/logo.png" /> </a>
</section> -->



<section class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-push-4 col-xs-12 mb-40 text-center">
                <h1 class="sans-serif-medium">Sorry, about that.</h1>
                <h2 class="h1 sans-serif-light mb-32">We couldn't find the page.</h2>
                <h3 class="h5 mb-16"><strong>Let's find what you need.</strong></h3>
                <p class="lead mb-24">Try these options:</p>
                <div class="row">
                    <form action="/content/bbvacompass/en/searchresults.html" method="get">
                <div class="col-lg-5">
                    <a class="btn mt-0 mb-40" routerLink="/contact" role="button">Contact us directly for help</a>
                </div>
                <div class="col-lg-7">
                    <div class="form-group-bbva">
                        <div class="row" style="display: flex; flex-wrap: wrap; justify-content: center;">
                            <div class="col-sm-9 col-xs-12">
                                <input class="" placeholder="Search Keyword" type="text" >&nbsp;
                            </div>
                            <div class="col-sm-3 col-xs-12" style="padding: 0;">
                                <button id="searchBtn" type="submit" value="Search" class="btn btn-aqua mt-0 mb-0">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <p class="lead">Possible reasons this happened:</p>
        <ul class="icon-list">
            <li ><i class="icon fa fa-check"></i>This page no longer exists</li>
            <li ><i class="icon fa fa-check"></i> The URL was typed incorrectly</li>
            <li ><i class="icon fa fa-check"></i> The link is broken</li>
        </ul>
    </div>
        <div class="col-md-4 col-md-pull-8 col-xs-12">
            <picture>
                <source media="(max-width: 61.9375em)" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
                    <img src="../../../../assets/img/broken-link.svg">
            </picture>
        </div>
        </div>
    </div>
    </section>