.abc {
  font-size: .9em!important;
  margin-top: -12px
}
.sub-cat-name {
  font-size: 13px
}
.sidebar-subcat .s-icon-all-states {
  right: 15px
}

.sidebar-subcat .search-allstates {
  width: 85%!important
}
