<div class="about-main">
  <section class="about-1 sh-how-it-works who-are-we">
    <div class="container">
      <div class="main-text ">
        <h2 class="main_heading">Who Are We?</h2>
        <p class="large">
          We at RFPGurus have devised a comprehensive next generation Web & Mobile Platform for Nationwide Government Bidding at the Federal, State, County, City and Local Levels = BTW, we are very proud of our work!</p>
        </div>
    </div>
  </section>
   <div class="">
    <div class="about-4 ">
      <div class="container">
        <h2 class="main_heading"><strong>A little about our background and history</strong></h2>
        <p>We believe that, it’s high time that subjective and traditional approaches for organizational procedures and practices are replaced with next-generation technologies. We have over 100+ years of combined experience in the High Tech Universe – In both Hardware and Software domains. We incubate, accelerate and brood In-House and Community Products in Web, Mobile, Desktop, Machine Learning/Artificial Intelligence & iOT technologies. We are strong believers in next-generation automation and efficiency by harnessing the power of Artificial Intelligence (AI): We see next generation technologies as a revolutionary toolbox that, will allow us to empower organizations and people to make life simpler n’ easier.</p>
      </div>
    </div>
    <section class="about-3">
      <div class="container">
        <h2 class="title text-center">Our Vision &amp; Mission</h2>
        <p>Our vision is to be the most comprehensive source of RFPs/RFI/RFBs/RFTs/RFQs Nationwide - Leading by example in providing exceptional service and features on a simple, transparent and an Unbeatable One-Package-Includes-All Pricing Plan.</p>
        <p>RFPGurus mission is to catalyze businesses and organizations so that, they save time and money during the RFP Bid Submission Process. We work with our RFP Partners together as a community, continually striving for excellence in the services we offer.</p>
        <p>Our objective is to provide quality end-to-end RFP services with Unbeatable Pricing Plans. We seek to revolutionize the Industry by adoption of next generation technologies: A Web & Mobile RFP Platform powered by Machine Learning (ML) & Artificial Intelligence (AI).</p>
      </div>
    </section>
    <section class="about-4">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="main_heading">Why RFPGurus ?</h2>
            <p>Hundreds of Thousands of RFPs - One Platform: The largest database of Nationwide RFPs & the Industry’s most comprehensive Feature Set. RFPGurus catalyzes your Government Bidding Prospects the Smart Way! Unbeatable Pricing. One-Package-Includes-All. Every Feature/RFP Included Nationwide. No Gimmicks. No Hidden Fees. Next generation Web, iOS & Android Mobile Apps. RFPGurus is your essential WINNING Partner for RFP Government Bidding!</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
