<!-- ===================== user side bar ===================== -->
<div class="wrapper">
  <div class="container-fluid padding-0">
    <div class="sidebar-outlet">
      <div async class="sidebar custom sh-sidebar " id="mySidebar">
        <div class="col-sm-12 text-right padding-0 sidebar-close-btn"><button class="btn btn-close" (click)="w3_close()">X</button></div>
        <user-sidebar></user-sidebar>
      </div>
    </div>
    <div class="content-router-outlet">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>