<div class="white-bg">
  <div class="container">
    <h2 class="text-center main_heading">Our Expert Team</h2>
    <p>From locating RFP opportunities&nbsp;to designing and authoring Winning&nbsp;Proposals, we have the most
      comprehensive set of features, tools and&nbsp;resources that, will make your business successful in the Public
      Sector.&nbsp;
    </p>
    <p>With “RFP as a Service”, RFPGurus provides end-to-end services to tailor-build&nbsp;proposals&nbsp;for ANY/ALL
      RFPs&nbsp;for&nbsp;Government Agencies within ALL industry sectors. Our experts will define, map and design the
      very best proposals which are tailored specifically for your business&nbsp;RFP&nbsp;requirements, giving your
      organization the competitive edge in Government Bidding.
    </p>
    <p>Our teams of experienced experts include Project Managers, Solution Architects, Business Specialists, Functional
      Analysts, Pricing Specialists, Graphics Designers, Technical Consultants, Software Engineers &amp; Developers who
      carefully comb through&nbsp;the RFP that you are bidding on. We&nbsp;will design and prepare a Proposal which
      is&nbsp;custom tailored according to your&nbsp;organization’s specific&nbsp;needs – All&nbsp;at&nbsp;the most
      affordable prices.
    </p>
    <p>Our&nbsp;visually stunning proposals&nbsp;include Slide Decks (Power Point Presentations), PDFs, MS-Word
      Document Summaries, Technical Proposals, Excel Spreadsheets, Graphical Mock Ups, and Cost Sheets</p>
    </div>
    <div class="container">
    <h3>RFPGurus is your essential WINNING Partner in Government RFP Bidding</h3>
    <p><a href="contact-us" target="_blank" ><strong>Establish Contact</strong></a>
      with us today. Let us know which RFP you would like us to work on your behalf? We&nbsp;will assign a team of
      specialists who work FOR YOU in readying a perfectly crafted RFP proposal for your next Government Contract.</p>
    <h3>Making your business successful in acquiring new Government RFP Contracts</h3>
    <p>RFPGurus One-Package-Includes-All provides vendors and businesses unlimited access to government bids from over
      thousands and thousands of Nationwide Public Sector Agencies in the USA and Canada.</p>
    <p>From locating RFP opportunities&nbsp;to designing and authoring Winning&nbsp;Proposals with “RFP as a Service”,
      we have the most comprehensive set of features, tools and&nbsp;resources that, will make your business successful
      in the Public Sector.</p>
    <div class="row text-center our-team-l-4-d">
      <div class="col-md-3 col-sm-6">
        <h4 ><b>One-Package-Includes-All <br>=<br> Unbeatable Pricing</b></h4>
        <div class="img-holder">
          <img alt="Smarter e-Learning" src="../../assets/img/Smarter-E-Learning.png">
        </div>
        <p class="text-left">Unbeatable Pricing. Only One Package. All the Features Included Nationwide. No Gimmicks.
          No Hidden Fees. RFPGurus is your essential WINNING Partner in Government RFP Bidding.</p>
      </div>
      <div class="col-md-3 col-sm-6">
        <h4 ><strong>Next Generation Platform <br>=<br> Smarter Bidding</strong></h4>
        <div class="img-holder">
          <img alt="Interactive Simulations" src="../../assets/img/Accelerated-Learning.png">
        </div>
        <p class="text-left">RFPGurus is a next generation Artificially Intelligent Web and Mobile Platform for
          Nationwide Government Bidding: Full-Spectrum 360-Degree Coverage for Federal, State, County &amp; Local RFPs.
          </p>
      </div>
      <div class="col-md-3 col-sm-6">
        <h4 >Web &amp; Mobile Apps <br>=<br> Easy &amp; Intuitive Access</h4>
        <div class="img-holder">
          <img alt="Intuitive Training" src="../../assets/img/Smarter-Knowledge-Transfer.png">
        </div>
        <p class="text-left">RFPGurus is easily accessible on Web, iOS &amp; Android platforms. Download our next
          generation Apps on the platform of your choice to experience RFP Searching and Bidding like <strong>
           Never Before</strong>. </p>
      </div>
      <div class="col-md-3 col-sm-6">
        <h4 >RFP as a Service <br>=<br> Custom Services</h4>
        <div class="img-holder">
          <img alt="Democratized Pricing" src="../../assets/img/Democratized-Pricing.png">
        </div>
        <p class="text-left">RFPGurus provides customized end-to-end services for creating perfectly crafted Government
          RFP Proposals for your business for Federal, State, County, City &amp; Local RFPs. </p>
      </div>
    </div>
  </div>
</div>