<section id="how-it-works " class="sh-how-it-works">
  <div class="container">
    <div class="text-center ">
      <h2>How it Works?</h2>
      <p >Hundreds of Thousands RFPs: RFPGurus is the premier source of
        Government RFPs, Contracts, Bids, and Tenders. We aggregate Nationwide Government RFPs, RFIs, RFBs, RFTs and
        RFQs at the Federal, County, City & Local levels. Our proprietary Machine Learning (ML) and Artificial
        Intelligence (AI) algorithms make RFP Searching and Bid Matching a breeze for vendors. With Unbeatable Pricing
        Plans, Next generation Web, iOS & Android Mobile Apps, RFPGurus has the industry’s most comprehensive Feature
        Set with a One-Package-Includes-All Pricing Model that gives your organization Wings for Government Bidding.</p>
    </div>
  </div>
</section>
<section class="pw-solutions works-blocks">
  <div class="container">
    <ul class="threecolumns">
      <li>
        <div class="holder icons red">
          <a class="img-holder">
            <i class="material-icons">lock_open</i>
          </a>
          <h3>1 - Signup on RFPGurus</h3>
          <div class="txt-holder">
            <p>Signup on RFPGurus is super easy and takes less than a few minutes on Web or Mobile.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="holder icons purple">
          <a class="img-holder">
            <i class="material-icons">file_download</i>
          </a>
          <h3>2 - Subscribe & Download</h3>
          <div class="txt-holder">
            <p>Unbeatable Pricing: One Package – All the Features. Subscribe to Monthly or Yearly democratized pricing
              packages. Download and Install RFPGurus on your Desktop and/or Mobile.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="holder icons pink">
          <a class="img-holder">
            <i class="material-icons">search</i>
          </a>
          <h3>3 - Browse RFPs</h3>
          <div class="txt-holder">
            <p>Start searching for RFPs targeted for your area and expertise. Set Bid Matching & Notification Alerts on
              RFPGurus’s proprietary AI.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="holder icons green">
          <a class="img-holder">
            <i class="material-icons">notifications_active</i>
          </a>
          <h3>4 - Get Alerts & Notifications</h3>
          <div class="txt-holder">
            <p>Our proprietary Artificial Intelligence (AI) sends you Daily Alerts & Notifications about upcoming RFPs
              and Winning Bids.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="holder icons red">
          <a class="img-holder">
            <i class="material-icons">save</i>
          </a>
          <h3>5 - Submit RFPs</h3>
          <div class="txt-holder">
            <p>Submit RFPs, RFQs & RFIs electronically AND/OR by Mail as per the necessary requirement process.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="holder icons purple">
          <a class="img-holder">
            <i class="material-icons">account_balance</i>
          </a>
          <h3>6 - Comprehensive Account Management</h3>
          <div class="txt-holder">
            <p>Manage your Profiles & Bid Submissions for a 360-degree RFP Bid Submission and Management experience.</p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>