
.sh-payment {
  margin: 75px 0 10px
}

.sh-payment .container {
  max-width: 760px;
  background: #fff;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: 0 auto 20px;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc
}

.sh-payment .mat-form-field-appearance-legacy .mat-form-field-label {
  font-size: 18px;
  font-weight: 600
}

.sh-payment .mat-input-subscript-wrapper {
  margin-top: 5px
}

.sh-payment .add-payment {
  width: 50%
}