
.phonee input {
  font-size: 16px!important;
  padding: 0 5px;
  margin: 0
}
.phonee .form-control{font-weight:600!important;height:45px!important;padding:22px 10px 0;border:none;box-shadow:none;border-bottom:1px solid rgba(0,0,0,.42);border-radius:0}
.phonee .dropbtn{box-shadow:0 0 5px #ccc}
.flagInput {
    vertical-align: bottom;
    border: none;
    background: #fff;
}

.phonee .form-control {
  font-weight: 600!important;
  height: 45px!important;
  padding: 20px 10px 0
}

.phonee input {
height: 30px!important;
color: #000;
font-weight: 600!important
}

.phonee button {
margin: 0;
padding: 0 10px
}

.phonee button {
  margin: 0;
  padding: 0 10px
}