.panel-details ul li {
  list-style: none;
  line-height: 14px;
  font-size: 16px;
}

.panel-details ul {
  padding: 10px 0 0 30px;
}

.all-cats .col a:hover {
  color: #c00;
  text-decoration: underline;
}