
<div class="main-content">
  <div class="container">
    <div class="row">
      <div class="all-cats">
        <div class="head col-sm-12">
          <div class="row">
            <div class="col-sm-8">
              <h3><i class="fa fa-list-alt" aria-hidden="true"></i>All Categories</h3>
            </div>
            <div class="col-sm-4 text-right">
              <input type="text" [(ngModel)]="query" [ngModelOptions]="{standalone: true}"
                placeholder="Search Categories" class="search-allstates" name=querysearch
                [(ngModel)]="query" #querysearch="ngModel" (keyup)=filter(query)  >
              <i class="fa fa-search s-icon-all-states" area-hidden="true"></i>
            </div>
           
          </div>
         
        </div>
        <div class="col-sm-12 text-center" *ngIf="item == '0'">
          <i class="fa fa-exclamation-triangle"></i>
          <h3 class="text-center" > Search not fetching results </h3>
        </div>
        <!-- <div class="col-sm-4 col-xs-12 text-right tab-text-center">
          <input type="text" [(ngModel)]="agensearch" [ngModelOptions]="{standalone: true}"
            placeholder="Search Agencies" class="search-allstates">
          <i class="fa fa-search s-icon-all-states" area-hidden="true"></i>
        </div>
      </div>
    </div>
    <div *ngIf="loaded==true">
      <div class="col-sm-12 text-center" *ngIf="(agency['Result'] | filter:agensearch).length==0">
        <i class="fa fa-exclamation-triangle"></i>
        <h3 class="text-center">No Record Found</h3>
      </div>
    </div> -->
        <div class="row"  >
          
          <div class="col-sm-4 col" *ngFor="let rfpcat of cat | filter:catsearch; let i = index">
            <a class="curser-pointer" (click)="catrfp(rfpcat.cat.category_name)"><i class="fa fa-superpowers"
                aria-hidden="true"></i>{{rfpcat.cat.category_name}}</a>
            <i class="caret pull-right view-more state collapsed" data-toggle="collapse" attr.data-target="#View{{i}}"
              *ngIf="rfpcat.subcat !=''"></i>
            <div attr.id="View{{i}}" class="panel-details collapse">
              <!-- <div > -->
              <ul>
                <li *ngFor="let catitem of rfpcat.subcat">
                  <a class="curser-pointer" [routerLink]="['/subcategory']"
                    [queryParams]="{ subcat: catitem.subcategory_name}">
                    {{catitem.subcategory_name}}</a>
                </li>
              </ul>

              <!-- </div> -->
            </div>
           
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
<!-- </div> -->