.layout {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.support-placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mat-card {
    max-width: 550px;
    width: 100%;
}

mat-form-field {
    font-size: 18px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-weight: 600 !important;
    color: #1f1c1c !important;
    width: 100% !important;
    margin-top: -10px;
}

::ng-deep .mat-option.mat-selected:not(.mat-option-multiple) {
    background-color: #000 !important;
    box-shadow: 0 4px 20px 0px rgba(255, 255, 255, 0.14), 0 7px 10px -5px rgba(192, 192, 192, 0.4);
    font-weight: bold;
    color: #fff;
}

::ng-deep .mat-select-panel .mat-option:hover {
    background-color: #000 !important;
    box-shadow: 0 4px 20px 0px rgba(255, 255, 255, 0.14), 0 7px 10px -5px rgba(192, 192, 192, 0.4);
    font-weight: bold;
    color: #FFF;
}

.btn-submit[disabled] {
    background-color: #585858;
    color: #fff !important;
    cursor: not-allowed;
}

.btn-submit[disabled]:hover {
    background-color: rgba(204, 0, 0, 0.466);
    color: #fff !important;
    cursor: not-allowed;
}

.btn-submit {
    background-color: #000;
    border-radius: 30px;
    color: #FFF;
    font-size: 20px;
    font-weight: bold !important;
}

.btn-submit:hover {
    background-color: #c00;
    color: #FFF
}

textarea::-webkit-scrollbar {
    width: 9px;
    background-color: rgb(219, 219, 219);
}

textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.116);
    background-color: #4f4f4f;
}
.mat-card{
    padding: 30px;
}