.sh-notification-seen {
  background: #f2f3f5!important
}
.sh-notification-div .heart-detail {
  margin: 10px 0!important
}
.center-admin-form{
  margin-top:30px;
}
.center-admin-form .sh-notification-div {
  margin: 0 auto;
  float: none;
}
.sh-del {
  position: absolute;
  right: 10px;
  top: 0;
  color: #fff
}
.sh-notification-div.sh .heart-main-div {
  position: relative
}