.sh-ad-to-watchlist {
  padding: 5px 10px!important;
  margin: 10px 0;
  text-transform: unset!important;
}

.rfp-back a {
  font-weight: 600
}

.rfp-back {
  padding: 7px 5px
}

.rfp-back a {
  color: #000;
  cursor: pointer;
  font-size: 15px
}

.rfp-back a:hover {
  text-decoration: underline;
  color: #c00
}

.rfp-back a {
  font-weight: 600
}

.rfp-back {
  padding: 7px 5px
}

.rfp-back a {
  color: #000;
  cursor: pointer;
  font-size: 15px
}

.rfp-back a:hover {
  text-decoration: underline;
  color: #c00
}
.term h5 i{
  width: 15px;
  font-size: 14px;
  text-align: center;
}
.new_info{
  margin: 0;
}
.new_info h5{
  margin: 2px 0 !important;
}
.new_info h5 a{
  font-weight: normal !important;
}
.new_info >div{
  min-height: 16px;
}
.view-more{
  margin: 0;
}
.new_info.box{
  box-shadow: 0 1px 4px 0 #ccc;
  padding: 10px;
  margin: 8px 0 0;
}
.new_info.box h5{
  margin: 5px 0!important;
}
.new_info.box .ac-head{
  color: #000;
  font-size: 18px;
  margin-bottom: 10px;
}