<p>
  pdf-viewer works!
</p>
<pdf-viewer [src]="pdfSrc" 
              [render-text]="true"
              style="display: block;"
              [render-text]="true"
             
              
  ></pdf-viewer>
  rotation;
  <!-- <pdf-viewer
  [src]="pdfSrc"
  [(page)]="page"
  [rotation]="rotation"
  [original-size]="originalSize"
  [fit-to-page]="fitToPage"
  (after-load-complete)="afterLoadComplete($event)"
  [zoom]="zoom"
  [show-all]="showAll"
  [stick-to-page]="stickToPage"
  [render-text]="renderText"
  [external-link-target]="'blank'"
  [autoresize]="autoresize"
  (error)="onError($event)"
  (on-progress)="onProgress($event)"
  (page-rendered)="pageRendered($event)"
></pdf-viewer> -->