<div class="main-content">
  <div class="container-fluid container">
    <section class="residential-main">
      <h2 class="text-center main_heading">Need help or want more information about <strong>RFPGurus.com?</strong></h2>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div aria-multiselectable="true" class="faq" id="accordion" role="tablist">
            <div class="card">
              <div class="card-header" id="headingTwo" role="tab">
                <h3 aria-controls="q1" aria-expanded="false" class="mb-0 collapsed" data-toggle="collapse" href="#q1">
                  <span>How RFPGurus Work?</span>
                  <i aria-hidden="true" class="fa fa-plus"></i>
                  <i aria-hidden="true" class="fa fa-minus"></i>
                </h3>
              </div>
              <div aria-labelledby="q1" class="collapse" id="q1" role="tabpanel" aria-expanded="false"
                style="height: 0px;">
                <div class="card-block">
                  We provide Government RFPs, Bids and Tenders documents and other details. Basically, we are
                  paid-search engine services for Government RFPs, Bids, Solicitations and Tenders.

                  We provide only contact details and RFP document to save your research time. So, you first need to pay
                  fees for the contact details and purchase the RFP or Tender Document. After the payment, once you
                  receive RFP document, you can contact government authority and submit your proposal directly.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab">
                <h3 aria-controls="q-2" aria-expanded="false" class="mb-0 collapsed" data-toggle="collapse" href="#q-2">

                  <span>Where are the Bids posted from?</span>
                  <i aria-hidden="true" class="fa fa-plus"></i>
                  <i aria-hidden="true" class="fa fa-minus"></i>
                </h3>
              </div>
              <div aria-labelledby="q-2" class="collapse" id="q-2" role="tabpanel">
                <div class="card-block">
                  All bids posted on our website are the purchasing requirements from Government or Semi-Government
                  Organizations from All Over the World. All posted RFPs, Tenders, Solicitations or Contracts are
                  genuine as they are from Government Agencies from all over the world.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab">
                <h3 aria-controls="q3" aria-expanded="false" class="mb-0 collapsed" data-toggle="collapse" href="#q3">
                  <span>How to get subscription at RFPGurus.com?</span>
                  <i aria-hidden="true" class="fa fa-plus"></i>
                  <i aria-hidden="true" class="fa fa-minus"></i>
                </h3>
              </div>
              <div aria-labelledby="q3" class="collapse" id="q3" role="tabpanel">
                <div class="card-block">
                  You can make payments on our website. Once we receive payment confirmation, you will receive a published
                  RFP document within 12 working hours at your email address. If you make payments for Monthly
                  Subscription, it will also take up to 12 working hours to activate your Subscription.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab">
                <h3 aria-controls="q4" aria-expanded="false" class="mb-0 collapsed" data-toggle="collapse" href="#q4">
                  <span>How do I run a search?</span>
                  <i aria-hidden="true" class="fa fa-plus"></i>
                  <i aria-hidden="true" class="fa fa-minus"></i>
                </h3>
              </div>
              <div aria-labelledby="q4" class="collapse" id="q4" role="tabpanel">
                <div class="card-block">
                  Decide whether you want to search for bids by Keyword, Region, State/Local categories, Federal
                  categories, or a combination of these, and make your selections from the options and menus.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <div aria-multiselectable="true" class="faq" id="accordion2" role="tablist">


            <div class="card">
              <div class="card-header" role="tab">
                <h3 aria-controls="q5" aria-expanded="false" class="mb-0 collapsed" data-toggle="collapse" href="#q5">
                  <span>How do I set-up My Package?</span>
                  <i aria-hidden="true" class="fa fa-plus"></i>
                  <i aria-hidden="true" class="fa fa-minus"></i>
                </h3>
              </div>
              <div aria-labelledby="q5" class="collapse" id="q5" role="tabpanel">
                <div class="card-block">
                  The "Packaging/Pricing" page provides you with details about your current package and gives you
                  information on how to further enhance your package.
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab">
                <h3 aria-controls="q6" aria-expanded="false" class="mb-0 collapsed" data-toggle="collapse" href="#q6">
                  <span>What if I have a problem logging into my account?</span>
                  <i aria-hidden="true" class="fa fa-plus"></i>
                  <i aria-hidden="true" class="fa fa-minus"></i>
                </h3>
              </div>
              <div aria-labelledby="q6" class="collapse" id="q6" role="tabpanel">
                <div class="card-block">
                  RFPGurus.com is committed to security in online transactions, authorized by all major credit card
                  organizations, and uses industry-standard technology encryption and technology safeguards. In
                  addition, we are VeriSign certified for our online transaction security.
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" role="tab">
                <h3 aria-controls="q7" aria-expanded="false" class="mb-0 collapsed" data-toggle="collapse" href="#q7">
                  <span>What is the best way to log out?</span>
                  <i aria-hidden="true" class="fa fa-plus"></i>
                  <i aria-hidden="true" class="fa fa-minus"></i>
                </h3>
              </div>
              <div aria-labelledby="q7" class="collapse" id="q7" role="tabpanel">
                <div class="card-block">
                  To log out, click on the Log Out link at the top of the page. This will release your session.
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
  </div>
</div>