a {
  color: #1062a5
}

a:focus,
a:hover {
  color: #c00!important;
  text-decoration: underline!important
}

.card .card-title {
  font-size: 24px;
  line-height: 19px
}

.signup-main .card .card-header.card-header-icon i {
  margin-right: 5px
}

.signup-main .card .card-header h4 {
  display: inline
}

.main-content {
  padding: 10px 0 0
}

.mat-form-field-infix {
  padding: 0!important;
  padding: .5em 0;
  border-top: 0
}

.form-footer {
  padding-top: 0 !important;
  padding: 16px 0 20px !important;

}
.card [data-background-color] {
  margin: -35px 15px 0
}

.checkbox label {
  padding-left: 0
}

.card {
  margin-bottom: 20px;
}

.regester-btn:disabled {
  width: 35%;
  opacity: .3
}

.regester-btn {
  width: 290px;
  margin-top: 20px;
}
.recaptcha-style {
  margin: 0 0 10px;
  float: none
}
.vt-middle {
  padding: 0 2px;
  font-weight: normal;
}

.label-floating .mat-form-field-appearance-legacy .mat-form-field-label{
  top: 33px !important;
}
.right-float{
  float: left;
  margin-top: 13px;
}
#main{
  position: relative;
}
.text-area-placeholder{
  margin-top: 20px !important;
}
/* --------------Video Start----------------- */
.signup-main {
  position: relative;
  background-color: black;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}
video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
/* ---------------Video END-------------- */



@media (max-width:1280px){
  .form-footer {
    padding: 6px 0 20px !important;
}
}
@media (max-width:1024px) {
  .recaptcha-style {
      margin: 0 0 20px
  }
  
}
@media (max-width:991px){
  .sh-adress > div{
    margin-top:13px !important;
  }
  .form-footer {
    padding: 15px 0 20px !important;
}
}
@media (max-width:767px){
  .reg .pd-left-30 {
    padding: 10px 0 !important;
}
  .sh-adress > div{
    margin-top:0 !important;
  }
  .tb-text-center{
    text-align: center !important;
  }
  .tb-text-center .checkbox{
    text-align: left !important;
  }
}