.rfp-as-service {
  background-image: url(../../../../assets/img/What-we-do.png);
  background-repeat: no-repeat;
  padding: 20px;
  position: relative;
  z-index: 1
}

.sh-how-it-works h2,
.sh-how-it-works p {
    color: #fff!important
}
.sh-how-it-works p,
.sh-ourExpertTeam,
.sh-why-rfpgurus {
    font-size: 20px;
    line-height: 27px
}

.rfp-as-service .com-table .table>thead>tr>th {
  font-size: 16px
}

.rfp-as-service .md-size,
.rfp-as-service label {
  font-weight: 700
}

.rfp-as-service label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-size: 20px
}

.rfp-as-service agm-map {
  height: 414px
}

.rfp-as-service .md-size {
  font-size: larger
}

.rfp-as-service input,
.rfp-as-service input::-webkit-input-placeholder {
  font-size: 25px
}

.rfp-as-service input,
.rfp-as-service input:-moz-placeholder {
  font-size: 25px
}

.rfp-as-service input,
.rfp-as-service input::-moz-placeholder {
  font-size: 25px
}

.rfp-as-service input,
.rfp-as-service input:-ms-input-placeholder {
  font-size: 25px
}

.rfp-as-service .md-input-placeholder {
  font-size: 3em
}

.rfp-as-service .example-full-width {
  width: 100%
}

.com-table table {
  border-collapse: separate
}

 .com-table th {
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.lead {
  font-size: 15px;
}

 .com-table td {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
}
