<app-loader></app-loader> 

<div class="main-panel max-width-1000" [ngClass]="status ? 'sidebarActive' : ''">
  <div class="main-content custom">
    <div class="container-fluid">
      
      <div class="row">
          <div class="page-title">
              <div class="col-sm-6 col-xs-5 latest-rfps-title">
                <span>Latest RFPs</span>
              </div>
              <div class="col-sm-6 col-xs-7 text-right">
                <span *ngIf="item">No of RFPs: <b> {{item | number}}</b></span>
              </div>
            </div>
      </div>
      <div class="row All-RFPs-Comp">
        <div class="col-sm-12">
          
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sh-pg-container header" id="myHeader">
            <div class="col-lg-9 col-md-8 col-sm-9 col-xs-12 text-right" *ngIf="item !=0">
              <ul class="pagination" *ngIf="pager.pages && pager.pages.length">
                <li [ngClass]="{hide:pager.currentPage === 1}">
                  <a onclick="topFunction()" (click)="setPage(1)" class="view-1s" class="btn btn-fill">
                    <i class="fa fa-angle-double-left"></i>
                  </a>
                </li>
                <li [ngClass]="{hide:pager.currentPage === 1}">
                  <a onclick="topFunction()" (click)="setPage(pager.currentPage - 1)" class="view-1s" class="btn btn-fill">
                    <i class="fa fa-angle-left"></i>
                  </a>
                </li>
                <li [ngClass]="{hide:pager.currentPage <= 30}">
                  <a onclick="topFunction()" (click)="setPage(pager.currentPage - 30)">...</a>
                </li>
                <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                  <a onclick="topFunction()" (click)="setPage(page)" class="view-plan-details">{{page | number}}</a>
                </li>
                <li [ngClass]="{hide:pager.currentPage === pager.totalPages}"
                  *ngIf="(pager.startPage  + 3) <= pager.totalPages">
                  <a onclick="topFunction()" (click)="setPage(pager.currentPage + 3)">...</a>
                </li>
                <li [ngClass]="{hide:pager.currentPage === pager.totalPages}"> <a>Of</a></li>
                <li [ngClass]="{hide:pager.currentPage === pager.totalPages}">
                  <a onclick="topFunction()" (click)="setPage(pager.totalPages)" class="view-plan-details" type="Last">{{pager.totalPages |
                    number}}</a>
                </li>
                <li *ngIf="pager.currentPage === pager.totalPages"> <a>Of</a></li>
                <li *ngIf="pager.currentPage === pager.totalPages">
                  <a onclick="topFunction()" (click)="setPage(pager.totalPages)" class="view-plan-details" type="Last">{{pager.totalPages |
                    number}}</a>
                </li>
                <li [ngClass]="{hide:pager.currentPage === pager.totalPages}">
                  <a  onclick="topFunction()" (click)="setPage(pager.currentPage + 1)" class="view-plan-details" class="btn btn-fill"
                    type="Next">
                    <i class="fa fa-angle-right top-set"></i>
                  </a>
                </li>
                <li [ngClass]="{hide:pager.currentPage === pager.totalPages}">
                  <a onclick="topFunction()" (click)="setPage(pager.totalPages)" class="view-plan-details" class="btn btn-fill" type="Next">
                    <i class="fa fa-angle-double-right"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-3 col-xs-12 prod-select-list sec-list sh-select-list"
              *ngIf="pager.pages && pager.pages.length">
              <label class="product-label">Items per page:
              </label>
              <mat-form-field>
                <!-- <mat-select class="width-sec" placeholder="" selected="10" (change)="page(pageSize)" value="pageSize"
                  required [(ngModel)]="pageSize" name="pageSize"> -->
                  <mat-select class="width-sec" placeholder="" value="{{pageSize}}" #val
                  (valueChange)="page(val.value)" value="pageSize" required [(ngModel)]="pageSize"
                  name="pageSize">
                  <mat-option onclick="topFunction()" value="10" selected="true">10</mat-option>
                  <mat-option onclick="topFunction()" value="20">20 </mat-option>
                  <mat-option onclick="topFunction()" value="35">35</mat-option>
                  <mat-option onclick="topFunction()" value="50">50</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="products-area sh-products-area " *ngIf="item !=0">
            <div *ngFor="let rfp of record;let i=index" class="card">
              <div class="row">
                <div class="col-sm-12 ">
                  <div class="card-header card-header-text" data-background-color="purple">
                    <a class="curser-pointer" [routerLink]="['/rfp']" [queryParams]="{query:rfp.seoTitleUrl}"
                      (click)="move()">
                      <h4 class="card-title">{{rfp.rfpkey}}</h4>
                    </a>
                  </div>
                </div>
                <div class="card-content">
                  <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 plan-detail padding-0">
                    <h3>
                      <a class="curser-pointer" [routerLink]="['/rfp']" [queryParams]="{query:rfp.seoTitleUrl}"
                        (click)="move()">
                        {{rfp.title}}</a>
                    </h3>
                    <h5 *ngIf="rfp.agency"><i class="fa fa-building"></i> Agency :
                      <a class="cat-elips" [routerLink]="['/agency']" [queryParams]="{ agency: rfp.agency}">{{rfp.agency}}</a>
                    
                    </h5>
                    <h5>
                      <i class="fa fa-university"></i> Category :
                      <a  class="cat-elips" [routerLink]="['/category']" [queryParams]="{ cat: rfp.new_category}">{{ rfp.new_category}}</a>
                    </h5>
                    <h5>
                      <i class="fa  fa-fort-awesome"></i> State : <a [routerLink]="['/state']"
                        [queryParams]="{ state: rfp.state}"> {{
                        rfp.state}}</a>
                    </h5>
                   
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 plan-detail padding-0" *ngIf="!subscribe">
                      <h5><i class="fa fa-info dscrption-icon"></i> Description:
                        <a (click)="memberonly()" class="memberOnly"><i class="fa fa-lock lock-icon"></i> Member
                          Only</a>
                      </h5>
                      <h5><i class="fa fa-file"></i> Bid Documents:
                        <a (click)="memberonly()" class="memberOnly"><i class="fa fa-lock lock-icon"></i> Member
                          Only</a>
                      </h5>
                      <h5><i class="fa fa-building"></i> Agency:
                        <a (click)="memberonly()" class="memberOnly"><i class="fa fa-lock lock-icon"></i> Member
                          Only</a>
                      </h5>
                    </div>
                  </div>
                  <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 term top-margin-25">
                    <!--<h4>Detail:</h4>-->
                    <div class="table">
                      <table class="table-normal">
                        <thead>
                          <tr>
                            <td>
                              <i class="glyphicon glyphicon-calendar"></i> Posted Date</td>
                            <td>
                              <i class="glyphicon glyphicon-calendar"></i> Submission Deadline</td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngIf="!adminlogin">
                            <td *ngIf="check(rfp.date_entered) == true">{{rfp.date_entered | date:'EEEE, MMM dd, y'}}
                            </td>
                            <td *ngIf="check(rfp.date_entered) == false"></td>
                            <td *ngIf="check(rfp.due_date) == true">{{rfp.due_date | date:'EEEE, MMM dd, y'}}</td>
                            <td *ngIf="check(rfp.due_date) == false"></td>
                          </tr>
                          <tr *ngIf="adminlogin">
                            <td>{{rfp.date_entered}}</td>
                            <td>{{rfp.due_date}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                   
                    <!-- <div class="row new_info">
                      <div class="col-sm-12 col-md-7 col-xs-12 padding-0">
                        <h5>
                          <i class="fa fa-home" aria-hidden="true"></i> Contract Name :
                          <a *ngIf="rfp.contract_name != null" class="cat-elips" [routerLink]="['/contract_name']"
                            [queryParams]="{ cat: rfp.contract_name}">{{ rfp.contract_name}}</a>
                          <a *ngIf="rfp.contract_name == null" class="cat-elips">null</a>
                        </h5>
                      </div>
                      <div class="col-sm-12 col-md-5 col-xs-12 padding-0">
                        <h5>
                          <i class="fa fa-phone-square"></i> Phone No :
                          <a *ngIf="rfp.phone != null" class="cat-elips" [routerLink]="['/phone']"
                            [queryParams]="{ cat: rfp.phone}">{{ rfp.phone}}</a>
                          <a *ngIf="rfp.phone == null" class="cat-elips">null</a>
                        </h5>
                      </div>
                      <div class="col-sm-12 col-md-7 col-xs-12 padding-0">
                        <h5>
                          <i class="fa fa-envelope-square"></i> Email :
                          <a *ngIf="rfp.email != null" class="cat-elips" [routerLink]="['/phone']"
                            [queryParams]="{ cat: rfp.email}">{{ rfp.email}}</a>
                          <a *ngIf="rfp.email == null" class="cat-elips">null</a>
                        </h5>
                      </div>
                      <div class="col-sm-12 col-md-5 col-xs-12 padding-0">
                        <h5>
                          <i class="fa fa-fax" aria-hidden="true"></i> Fax :
                          <a *ngIf="rfp.fax != null" class="cat-elips" [routerLink]="['/fax']"
                            [queryParams]="{ cat: rfp.fax}">{{ rfp.fax}}</a>
                          <a *ngIf="rfp.fax == null" class="cat-elips">null</a>
                      
                        </h5>
                      </div>
                      <!--  -->
                    <!-- </div> --> 
                    <div class="row new_info">
                      <div class="col-sm-12 col-md-6 col-xs-12 padding-0">
                        <ul class="list-normal">
                          <li *ngIf="!subscribe; else pdf">
                            <a routerLink="/pricing">
                              <i class="fa fa-credit-card"></i> Pricing/Package Details
                            </a>
                          </li>
                          <ng-template #pdf>
                            <li (click)="check_trial(rfp.id, rfp.web_info,rfp.title)"
                              *ngIf=" rfp.rfp_reference == 'Download File' ; else link ">
                              <a>
                                <i class="material-icons">insert_drive_file</i> View Documents
                              </a>
                            </li>
                            <ng-template #pdf>
                              <li (click)="check_trial(rfp.id, rfp.web_info,rfp.title)"
                                *ngIf=" rfp.rfp_reference == 'Download File' ; else link ">
                                <a>
                                  <i class="material-icons">insert_drive_file</i> View Documents
                                </a>
                              </li>
                              <ng-template #link>
                                <li (click)="check_trial(rfp.id, rfp.web_info,rfp.title)">
                                  <a>
                                    <i class="material-icons">insert_drive_file</i> View Documents
                                  </a>
                                </li>
                              </ng-template>
                            </ng-template>
                          </ul>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                          <div *ngIf="!subscribe" class=" term mg-top-5">
                            <button (click)="memberonly()" class="btn btn-rose sub" title="Subscribe Package">Subscribe Now
                            </button>
                          </div>
                        </div>
                      </div>
                   </div>
                    

                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" *ngIf="subscribe">
                    <h5 class="view-more collapsed" data-toggle="collapse" attr.data-target="#View{{rfp.id}}">
                      Details <i class="material-icons">arrow_drop_down</i>
                    </h5>
                    <div attr.id="View{{rfp.id}}" class="panel-details collapse">
                      <div class="col-md-12" *ngIf="rfp?.descriptionTag == null">
                        <div [innerHTML]="rfp.deescription"></div>
                      </div>
                      <div class="col-md-12" *ngIf="rfp?.descriptionTag != null">
                        <div [innerHTML]="rfp?.descriptionTag"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 sh-pg-container">
        <div class="col-lg-9 col-md-8 col-sm-9 col-xs-12 text-right">
          <ul class="pagination" *ngIf="pager.pages && pager.pages.length">
            <li [ngClass]="{hide:pager.currentPage === 1}">
              <a onclick="topFunction()" (click)="setPage(1)" class="view-1s" class="btn btn-fill">
                <i class="fa fa-angle-double-left"></i>
              </a>
            </li>
            <li [ngClass]="{hide:pager.currentPage === 1}">
              <a  onclick="topFunction()" (click)="setPage(pager.currentPage - 1)" class="view-1s" class="btn btn-fill">
                <i class="fa fa-angle-left"></i>
              </a>
            </li>
            <li [ngClass]="{hide:pager.currentPage <= 30}">
              <a  onclick="topFunction()" (click)="setPage(pager.currentPage - 30)">...</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
              <a  onclick="topFunction()" (click)="setPage(page)" class="view-plan-details">{{page | number}}</a>
            </li>
            <li [ngClass]="{hide:pager.currentPage === pager.totalPages}"
              *ngIf="(pager.startPage  + 3) <= pager.totalPages">
              <a  onclick="topFunction()" (click)="setPage(pager.currentPage + 3)">...</a>
            </li>
            <li [ngClass]="{hide:pager.currentPage === pager.totalPages}"> <a>Of</a></li>
            <li [ngClass]="{hide:pager.currentPage === pager.totalPages}">
              <a  onclick="topFunction()" (click)="setPage(pager.totalPages)" class="view-plan-details" type="Last">{{pager.totalPages |
                number}}</a>
            </li>
            <li *ngIf="pager.currentPage === pager.totalPages"> <a>Of</a></li>
            <li *ngIf="pager.currentPage === pager.totalPages">
              <a  onclick="topFunction()" (click)="setPage(pager.totalPages)" class="view-plan-details" type="Last">{{pager.totalPages |
                number}}</a>
            </li>
            <li [ngClass]="{hide:pager.currentPage === pager.totalPages}">
              <a  onclick="topFunction()" (click)="setPage(pager.currentPage + 1)" class="view-plan-details" class="btn btn-fill" type="Next">
                <i class="fa fa-angle-right top-set"></i>
              </a>
            </li>
            <li [ngClass]="{hide:pager.currentPage === pager.totalPages}">
              <a  onclick="topFunction()" (click)="setPage(pager.totalPages)" class="view-plan-details" class="btn btn-fill" type="Next">
                <i class="fa fa-angle-double-right"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-3 col-xs-12 prod-select-list sec-list sh-select-list"
          *ngIf="pager.pages && pager.pages.length">
          <label class="product-label">Items per page:
          </label>
          <mat-form-field>
            <!-- <mat-select class="width-sec" placeholder="" selected="10" (change)="page(pageSize)" value="pageSize"
              required [(ngModel)]="pageSize" name="pageSize"> -->
              <mat-select class="width-sec" placeholder="" value="{{pageSize}}" #val
              (valueChange)="page(val.value)" value="pageSize" required [(ngModel)]="pageSize"
              name="pageSize">
              <mat-option  onclick="topFunction()" value="10" selected="true">10</mat-option>
              <mat-option  onclick="topFunction()" value="20">20 </mat-option>
              <mat-option  onclick="topFunction()" value="35">35</mat-option>
              <mat-option  onclick="topFunction()" value="50">50</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</div>