
.main-content.custom {
  margin-top: -10px!important;
  padding: 15px 0
}

.sidebarToggle {
  display: none;
  width: 130px;
  margin: 0;
  top: 0;
  left: 15px;
  z-index: 9
}
.sidebar.custom {
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .3);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .3);
  background: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-animation: animateleft .4s;
  animation: animateleft .4s
}
.sidebar-close-btn{
  z-index: 100;
  position: absolute;
  right: -40px;
  padding: 0;
  top: 2px;
}
.sidebar-close-btn button {
    width: 60px;
    height: 30px;
    padding: 0;
    background: #000;
    color: #fff;
    border-radius: 0 5px 5px 0 !important;
}
.sidebar-close-btn button:hover{
  background: #c00;
}
.mg-top-5{
margin-top: 5px;
}
.term h5 i{
  width: 15px;
  font-size: 14px;
  text-align: center;
}
.new_info{
  margin: 0;
}
.new_info h5{
  margin: 2px 0 !important;
}
.new_info h5 a{
  font-weight: normal !important;
}
.new_info >div{
  min-height: 16px;
}
.contact-info{
  padding: 5px;
  border: 1px solid #ccc;
}
.AgencyContactInfo{
  font-size: 18px;
}

.view-more{
  margin: 0;
}
h5{
  color: rgba(0, 0, 0, .87);
}
.new_info.box{
  box-shadow: 0 1px 4px 0 #ccc;
  padding: 10px;
  margin: 8px 0 5px;
}
.new_info.box h5{
  margin: 5px 0!important;
}
.new_info.box .ac-head{
  color: #000;
  font-size: 18px;
  margin-bottom: 10px;
}
.new_info.padd{
  padding: 0 10px;
}
@media (max-width:991px) {
  .main-content.custom {
    margin: 0 !important;
  }
  .page-title {
    margin: 0;
  }
}