
#f-c .com-table table {
  border-collapse: separate
}

#f-c .com-table th {
  background-color: #000;
  color: #fff;
  font-size: 22px;
  padding: 15px 0!important;
  font-weight: 700;
  text-align: center
}

#f-c .com-table td {
  font-size: 18px;
  font-weight: 600;
  padding: 14px 20px!important;
  text-align: center
}

#f-c .com-table tr>td:first-child {
  text-align: left
}

#f-c .com-table strong {
  font-weight: 700!important
}

#f-c .com-table .fa-check {
  color: #00cd00;
  font-size: 21px
}

#f-c .com-table .fa-times {
  color: #cd0a0e;
  font-size: 21px
}
#f-c {
  padding: 0!important
}
#f-c {
  padding: 20px 0;
  background: #fafafa
}

.com-table table tr th,
.com-table td {
    font-size: 18px;
    font-weight: 600;
    text-align: center
}

.com-table {
    margin-bottom: 30px
}

.com-table>table {
    min-width: 1000px
}

.com-table table tr th {
    background-color: #000;
    color: #fff;
    padding: 10px 0!important
}

.com-table td {
    padding: 10px 20px!important
}

.com-table tr>td:first-child {
    text-align: left
}

.com-table strong {
    font-weight: 700!important
}

.com-table .fa-check {
    color: #00cd00;
    font-size: 21px
}

.com-table .fa-times {
    color: #cd0a0e;
    font-size: 21px
}

.com-table table tr td a {
    color: #c00
}

.com-table table tr td a:hover {
    text-decoration: underline
}
.com-table .table>thead>tr>th {
  font-weight: 500
}
@media (max-width:1024px) {
   
  .container-wide {
      padding: 0 20px;
      max-width: 1024px
  }
  .com-table>table {
      min-width: 800px;
      margin-bottom: 0px;
  }
}
@media (max-width:991px) {

  #f-c>.container-wide>h2 {
    font-size: 24px !important
  }
  #f-c>.container-wide>p {
    font-size: 14px !important
  }
  #f-c .com-table th {
    font-size: 16px !important;
}
#f-c .com-table td {
    font-size: 14px;
    padding: 5px!important
}
}
@media (max-wdith:767px){
  #f-c .com-table th {
    font-size: 12px !important;
    vertical-align: middle !important;
  }
}

