<section id="f-c">
  <div class="container container-wide">
    <h2 class=" text-cente main_heading">How we stack up against the Competition?</h2>
    <p class="text-center ">Unbeatable Pricing, One-Package-Includes-All, Every Feature/RFP Included Nationwide,
      <br />No Gimmicks, No Hidden Fees, Next generation Web, iOS & Android Mobile Apps.</p>
    <div class="com-table">
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Features</th>
            <th>RFPGurus</th>
            <th>Competitor 1</th>
            <th>Competitor 2</th>
            <th>Competitor 3</th>
            <th>Competitor 4</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>Average Pricing / Year</strong></td>
            <td>$ 499.99</td>
            <td>$ 1200</td>
            <td>$ 2200</td>
            <td>$ 3700</td>
            <td>$ 6500</td>
          </tr>
          <tr>
            <td><strong>Bid Matching Artificial Intelligence (AI)</strong></td>
            <td><i class="fa fa-check"></i></td>
            <td><i class="fa fa-times"></i></td>
            <td><i class="fa fa-times"></i></td>
            <td><i class="fa fa-times"></i></td>
            <td><i class="fa fa-times"></i></td>
          </tr>
          <tr>
            <td><strong>Upcoming Bids</strong></td>
            <td><i class="fa fa-check"></i></td>
            <td><i class="fa fa-times"></i></td>
            <td><i class="fa fa-times"></i></td>
            <td><i class="fa fa-times"></i></td>
            <td><i class="fa fa-times"></i></td>
          </tr>
          <tr>
            <td><strong>State & Local Agency Bids</strong></td>
            <td><i class="fa fa-check"></i></td>
            <td><i class="fa fa-check"></i></td>
            <td><i class="fa fa-check"></i></td>
            <td><i class="fa fa-check"></i></td>
            <td><i class="fa fa-check"></i></td>
          </tr>
          <tr>
            <td><strong>Federal Agency Bids</strong></td>
            <td><i class="fa fa-check"></i></td>
            <td><i class="fa fa-check"></i></td>
            <td><i class="fa fa-check"></i></td>
            <td><i class="fa fa-check"></i></td>
            <td><i class="fa fa-check"></i></td>
          </tr>
          <tr>
            <td><strong>Daily Email Bid Alerts & Notifications</strong></td>
            <td><i class="fa fa-check"></i></td>
            <td><i class="fa fa-check"></i></td>
            <td><i class="fa fa-check"></i></td>
            <td><i class="fa fa-check"></i></td>
            <td><i class="fa fa-check"></i></td>
          </tr>
          <tr>
            <td><strong>Search Engine</strong></td>
            <td><i class="fa fa-check"></i></td>
            <td><i class="fa fa-check"></i></td>
            <td><i class="fa fa-check"></i></td>
            <td><i class="fa fa-check"></i></td>
            <td><i class="fa fa-check"></i></td>
          </tr>
          <tr>
            <td><strong>Android Mobile App</strong></td>
            <td><i class="fa fa-check"></i></td>
            <td><i class="fa fa-times"></i></td>
            <td><i class="fa fa-times"></i></td>
            <td><i class="fa fa-times"></i></td>
            <td><i class="fa fa-times"></i></td>
          </tr>
          <tr>
            <td><strong>iOS Mobile App</strong></td>
            <td><i class="fa fa-check"></i></td>
            <td><i class="fa fa-times"></i></td>
            <td><i class="fa fa-times"></i></td>
            <td><i class="fa fa-times"></i></td>
            <td><i class="fa fa-times"></i></td>
          </tr>
          <tr>
            <td><strong>Winning Bidder Insight</strong></td>
            <td><i class="fa fa-check"></i></td>
            <td><i class="fa fa-times"></i></td>
            <td><i class="fa fa-times"></i></td>
            <td><i class="fa fa-times"></i></td>
            <td><i class="fa fa-times"></i></td>
          </tr>
          <tr>
            <td><strong>Technical Support Chat</strong></td>
            <td><i class="fa fa-check"></i></td>
            <td><i class="fa fa-times"></i></td>
            <td><i class="fa fa-times"></i></td>
            <td><i class="fa fa-check"></i></td>
            <td><i class="fa fa-times"></i></td>
          </tr>
          <tr>
            <td><strong>RFP as a Service</strong></td>
            <td><i class="fa fa-check"></i></td>
            <td><i class="fa fa-times"></i></td>
            <td><i class="fa fa-times"></i></td>
            <td><i class="fa fa-times"></i></td>
            <td><i class="fa fa-times"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>