
.pd-in-0 >div{
    padding: 0
}
.add-rfp-chk{
    padding-top: 10px;
}
.add-rfp-chk >input{
    vertical-align: sub;
}
#addRFP{
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  margin-bottom: 50px;
}
#addRFP .col-sm-6{
  min-height: 56px;
}
#addRFP .input-group{
  width: 100%;
 
}
.editform{
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  float: none;
}
.btn-file {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.btn-file > input {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 23px;
  cursor: pointer;
  opacity: 0;
  direction: ltr;
}
.submit_btn{
  margin: 10px 0;
  border: none;
  cursor: pointer;
  min-width: 30%;
}
.fa-search{
  position: absolute;
  right: 10px;
  top: 10px;
}
.others{
  padding: 2px 10px;
  font-size: 12px;
  margin: 10px;
}
.publish_RFP{
  padding: 10px 0;
}
.publish_new_rfp{
  margin: 20px 0;
  width: 100%;
  max-width: 300px;
}
.active-route{
  color: #fff !important;
}
.flx-items{
  display: flex;
  align-items: center;
  flex-direction: column
}

.nav-tabs .nav-item.active .nav-link {
  color: #fff!important;
  background-color: #000!important;
  border-color: #000!important;
}
.nav-item{
  width: 50%;
}
.pd-top-10px{
  padding-top: 10px;
}
#myTab{
  max-width: 97%;
  margin: 0 auto;
}
.nav-link:focus{
  text-decoration: none;
}
.nav-tabs .nav-link {
  font-size: 18px!important;
  border-bottom: none!important;
  color: #000;
  background: #f3f3f3;
  font-weight: 600;
  text-align: center;
}
#myTabContent{
  margin-top: 20px;
}

.main-content.custom {
  margin-top: -10px!important;
  padding: 15px 0
}

.sidebarToggle {
  display: none;
  width: 130px;
  margin: 0;
  top: 0;
  left: 15px;
  z-index: 9
}
.sidebar.custom {
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .3);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .3);
  background: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-animation: animateleft .4s;
  animation: animateleft .4s
}
.sidebar-close-btn{
  z-index: 100;
  position: absolute;
  right: -40px;
  padding: 0;
  top: 2px;
}
.sidebar-close-btn button {
    width: 60px;
    height: 30px;
    padding: 0;
    background: #000;
    color: #fff;
    border-radius: 0 5px 5px 0 !important;
}
.sidebar-close-btn button:hover{
  background: #c00;
}
.mg-top-5{
margin-top: 5px;
}
.term h5 i{
  width: 15px;
  font-size: 14px;
  text-align: center;
}
.new_info{
  margin: 0;
}
.new_info h5{
  margin: 2px 0 !important;
}
.new_info h5 a{
  font-weight: normal !important;
}
.new_info >div{
  min-height: 16px;
}
.view-more{
  margin: 0;
}

@media (max-width:991px) {
  .main-content.custom {
    margin: 0 !important;
  }
  .page-title {
    margin: 0;
  }
}