.btn-primary {
    padding: 0 10px;
    font-size: 13px;
    margin: 0px 0px 0 10px;
}
.pd-in-0 >div{
    padding: 0
}
.add-rfp-chk{
    padding-top: 10px;
}
.add-rfp-chk >input{
    vertical-align: sub;
}