.btn-primary {
    padding: 0 10px;
    font-size: 13px;
    margin: 0px 0px 0 10px;
}
.pd-in-0 >div{
    padding: 0
}
.add-rfp-chk{
    padding-top: 10px;
}
.add-rfp-chk >input{
    vertical-align: sub;
}
#addRFP{
  background: #fff;
  padding: 20px 0;
}
#addRFP .col-sm-6{
  min-height: 56px;
}
#addRFP .col-sm-6 .input-group{
  width: 100%;
}