.modal-buttons {
  width: 50%;
  margin: 0 auto;
  text-align: center
}

.modal-buttons button {
  background: #000!important
}
.btn-dismiss {
  font-size: 22px!important;
  color: #000;
  position: absolute;
  z-index: 9;
  right: 4px;
  top: 6px
}
.sh-del {
  position: absolute;
  right: 10px;
  top: 0;
  color: #fff
}
.clear-watch-btn{
  box-shadow: 3px 2px 7px 2px #9f9d9d;
  margin: 10px 0;
  background-color: #000;
  font-weight: 600!important;
  color: #fff;
}