.chat-box{
    width: 100%;
    margin: 10px auto;
    background: #fff;
    border-radius: 5px;
    padding: 10px 10px;
    box-shadow: 1px 1px 7px 2px #ccc;
}
.user-text{
  max-width: 60%;
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 8px;
  word-break: break-all;
  color: #646464;
  margin: 5px 0 5px 50px;
  padding: 9px 10px;
  font-size: 14px;
  position: relative;
  text-align: left;
  float: left;
}
.user-text::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent #ebebeb transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: thick;
    content: " ";
    height: 0;
    pointer-events: none;
    position: absolute;
    right: 100%;
    top: 8px;
    width: 0px;
}
.user-text .me{
  position: absolute;
  top: 0;
  left: -45px;
  font-weight: bold;
  text-shadow: 1px 2px 2px #ccc;
  font-size: 18px;
  background: #d8d8d8;
  padding: 5px;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 30px;
}
.admin-text{
    max-width: 60%;
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 8px;
    word-break: break-all;
    color: #646464;
    margin: 5px 39px 5px 0px;
    padding: 9px 10px;
    font-size: 14px;
    position: relative;
    float: right;
    text-align: right
}
.admin-text::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent transparent transparent #ebebeb;
    border-image: none;
    border-style: solid;
    border-width: thick;
    content: " ";
    height: 0;
    pointer-events: none;
    position: absolute;
    left: 100%;
    top: 8px;
    width: 0px;
}
.admin-text .admin{
  position: absolute;
  top: 0;
  right: -46px;
  font-weight: bold;
  text-shadow: 1px 2px 2px #ccc;
  font-size: 18px;
  font-size: 24px;
  background: #d8d8d8;
  padding: 5px;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 26px;
}
.chat-box textarea{
  width: 100%;
  resize: none;
  padding: 5px;
  border-radius: 5px;
  z-index: 2;
  color: #000;
  height: auto;
  font-weight: normal;
  font-size: 14px;
  border: none;
  min-height: 150px !important;
  border: 1px solid #ccc;
}
.msg-area{
    max-height: 260px;
    overflow-y: scroll;
    margin-bottom: 10px;
    overflow-x: hidden;
    padding: 20px 50px 20px 30px;
    
}
.heading {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
    margin: 10px 0 0 !important;
}
.des{
    margin-left: auto;
}
.no-replay{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
}
.form-control, .form-group .form-control {
  font-size: 16px;
  font-weight: 500;
  height: 40px !important;
  color: #000;
}
.submit-div{
  text-align: center;
  padding-top: 10px;
}
.rep_para{
  margin: 10px 0 0;
}
.btn-primary{
  min-width: 200px;
}